.mobile_footer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  border: 1px solid #f0f0f0;
  background: #fff;
  height: 12vh;
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  z-index: 500;
  box-sizing: border-box;
  animation: bounceInUp;
  animation-duration: 2s;
  font-size: 1.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .icon{
    padding: 0.5rem;
  }
  .active{
    background:@primary-color;
    color: #fff;
    border-radius: 4px;
    animation: fadeIn;
    animation-duration: 2s;
  }
  .footer_icon{
    margin: 0.5rem;
  }
  .footer_text{
    margin: 0.5rem;
    animation: backInLeft;
    animation-duration: 2s;
  }
}