.rightDrawer{
  display: flex;
  flex-direction: column;
  .header{
    display: flex;
    align-items: center;
    .back_icon{
      font-size: 1rem;
    }
    .search_icon{
      font-size: 1rem;
    }
  }
  .results{
    border-bottom: 1px solid #ddd;
  }
  .divider{
    padding-top: 1rem;
    border-bottom: 1px solid #ddd;
  }
}