.alreadyUserLoginText{
  width: 15rem;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.85rem;
  font-weight: 600;
  display: block;
  margin-top: 1rem;
}

.login_text{
  color: @primary-color;
  height: 100px;
}