.signin_form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  .label{
    font-size: 1rem;
    font-weight: 600;
  }

  .input{
    padding: 1rem;
  }

  .forgot_label{
    padding-bottom: 1rem;
    span{
      float: right;
      clear: both;
    }
  }

  button{
    background: @primary-color;
    color: #fff;
    width: 100%;
    :hover{
      color: @primary-color;
      background: #fff;
    }
  }

  .newuser_text{
    align-self: center;
  }
}