.mobile_header{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  background: #fff;
  height: 12vh;
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  z-index: 500;
  box-sizing: border-box;
  animation: bounceInDown;
  animation-duration: 2s;
  font-size: 1.2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}