.signup_form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  .input_div{
    padding-bottom: 1rem;
  }
  .label{
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .input{
    padding: 1rem;
  }

  button{
    background: @primary-color;
    color: #fff;
    margin-top: 1rem;
    :hover{
      color: @primary-color;
      background: #fff;
    }
  }
}