.popular{
  display: flex;
  flex-direction: column;
  .popular_head{
    display: flex;
    justify-content: space-between;
    .head1{
      font-weight: 600;
    }
    .head2{
      color: @primary-color;
    }
  }
  .popular_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
  }
}